.full-width-hr.text-center.black.padtop
  a.padleft.padright(href='https://www.github.com/dumptyd') Github
  span.gray-font |
  a.padleft.padright(href='https://twitter.com/dumptyd') Twitter
  span.gray-font |
  a.padleft.padright(href='https://www.github.com/dumptyd/quacker-news') Code