.blue {
  background-color: #64B2F6;
  padding: 5px 10px;
}

.grey {
  background-color: #F6F6EF;
}

.gray-font{
  color:#828282;
}

.bold {
  font-weight: bold;
}

.inline {
  display: inline-block;
}

.padleft {
  padding-left: 5px;
}

.padright {
  padding-right: 5px;
}

.padtop {
  padding-top: 5px;
}

.margintop-lg{
  margin-top:10px;
}

.margintop-slg{
  margin-top:25px;
}

.marginleft{
  margin-left:10px;
}

.padbottom {
  padding-bottom: 5px;
}

.blue>.padleft>a,
.blue>.pull-right>a, a {
  color: #000;
}

.posts {
  padding: 20px;
}
.inline{
  display:inline-block;
}

table {
  border-spacing: 10px;
  border-collapse: separate;
}
.white{
  color:#fff !important;
}
.black{
  color:#000 !important;
}
.underline{
  text-decoration: underline;
}