body{
  font-family: Verdana, Geneva, sans-serif;
  font-size:10pt;
}
.blue {
  background-color: #64B2F6;
  padding: 5px 10px;
}

.grey {
  background-color: #F6F6EF;
}

.gray-font{
  color:#828282;
}

.bold {
  font-weight: bold;
}

.inline {
  display: inline-block;
}

.padleft {
  padding-left: 5px;
}

.padright {
  padding-right: 5px;
}

.padtop {
  padding-top: 5px;
}

.margintop{
  margin-top:5px;
}

.margintop-lg{
  margin-top:10px;
}

.margintop-slg{
  margin-top:25px;
}

.marginleft{
  margin-left:10px;
}

.padbottom {
  padding-bottom: 5px;
}

.blue>.padleft>a,
.blue>.pull-right>a, a {
  color: #000;
}

.posts {
  padding: 20px;
}
.inline{
  display:inline-block;
}

table {
  border-spacing: 5px;
  border-collapse: separate;
}
.white{
  color:#fff !important;
}
.black{
  color:#000 !important;
}
.underline{
  text-decoration: underline;
}
.comment{
  font-size:9pt;
}

.upvoted, .downvoted {
  color: #64B2F6;
}
.upvote-comment, .downvote-comment, .upvote-thread {
  cursor: pointer;
}
.upvote-comment:focus, .downvote-comment:focus, .upvote-thread:focus {
  outline:none;
  color: inherit;
}

.black {
  color: #000;
}

.disguised-btn {
  border: none;
  background: none;
  color: inherit;
  padding: 0;
}

.disguised-btn:hover {
  text-decoration: underline;
}

.custom-textarea{
  max-width: 500px;
}

.block {
  display: block;
}

.no-margin-padding-on-small-screens, .but-not-on-small-screens {
  
}

.full-width-hr {
  width: 100%;
  border-top: 3px solid #64B2F6;
}

.container {
  margin-bottom: 50px;
}

.no-underline:hover {
  text-decoration: none;
}

@media (max-width: 800px) {
  .no-margin-padding-on-small-screens {
    margin:0 !important;
    padding: 0 !important;
    margin-bottom: 50px;
  }
  .but-not-on-small-screens {
    float: none !important;
    display:inline;
  }
  .but-not-on-small-screens:before {
    content: " |";
  }
  .left {
    display: inline;
  }
  .title {
    display: block;
  }
  .padleft {
    padding-left: 3px;
  }
  .padright {
    padding-right: 3px;
  }
}